body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #e0bbd8; /* бордовый цвет */
    padding: 15px;
    list-style-type: none;
}

.navbar li a {
    text-decoration: none;
    color: #333;
    padding: 8px;
}

.navbar li a:hover {
    background-color: #d5c0e3; /* легкий бордовый цвет */
}

.photographer-profile {
    border: 1px solid #eaeaea; /* светлый фон */
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
}

.photographer-profile img {
    max-width: 100%;
    border-radius: 4px;
}
.news-item {
    border: 1px solid #eaeaea; /* светлый фон */
    margin: 20px 0;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9; /* светлый фон для новостей */
}

.news-item h2 {
    font-size: 1.5em;
    margin: 0;
}

.news-item p {
    font-size: 1em;
    color: #666;
}
